{% load static %}
<!doctype html>
<html lang="ja">
  <meta charaset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>メカマーチャン</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="{% static '/css/common.css' %}" rel="stylesheet"/>
  {% block css %}{% endblock %}
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"><a href="{% url 'top:index' %}" class="navbar-brand">メカマーチャン</a>
      <button type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    </nav>
    {% block contents %}{% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>
