{% extends "invitation/base.html" %}
{% load static %}
{% block css %}
<link href="{% static '/css/edit.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block contents %}
<div role="main" class="container">
  <h2>来社管理</h2>
  <form method="POST" action="{% url 'invitation:cancel' invitation.id %}" id="invitation_cancel_form" class="form">
    <h2>来社予定日時</h2>
    <table class="table table-bordered">
      {% comment %}
      <tr>
        <td scope="row" style="width: 30%">ステータス</td>
        <td>来社待ち</td>
      </tr>
      {% endcomment %}
      <tr>
        <td scope="row" style="width: 30%">予定日時</td>
        <td>{{invitation.schedule_datetime}}</td>
      </tr>
    </table>
    {% comment %}<h2>理由</h2>{% endcomment %}
    <table class="table table-bordered">
      <tr>
        <td scope="row" style="width: 30%">来社理由</td>
        <td>{{invitation.title}}</td>
      </tr>
      {% comment %}
      <tr>
        <td scope="row">本文</td>
        <td>{{invitation.body}}</td>
      </tr>
      {% endcomment %}
    </table>
    <h2>お客様</h2>
    {% for c in invitation.client_set.all %}
    <table class="table table-bordered">
      {% if c.is_checkin %}
      <tr>
        <td scope="row" style="width: 30%"  colspan="2"><span class="badge badge-pill badge-success">チェックイン済み</span></td>
      </tr>
      {% endif %}
      <tr>
        <td scope="row" style="width: 30%">名前</td>
        <td>{{c.name}}</td>
      </tr>
      <tr>
        <td scope="row">メールアドレス</td>
        <td>{{c.email}}</td>
      </tr>
    </table>
    {% endfor %}
    {% csrf_token %}
    <button onClick="location.href='{% url 'invitation:index' %}'; return false;" class="btn btn-sm btn-warning">一覧に戻る</button>
    <span class="float-xl-right">
      {% if invitation.cancel_flag == 1 %}
      <button type="button" class="btn btn-sm btn-danger">キャンセル済</button>
      {% else %}
      <button class="btn btn-sm btn-danger" id="invitation_cancel">キャンセル</button>
      {% endif %}
    </span>
  </form>
</div>
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static '/js/invitation-cancel.js' %}"></script>
{% endblock %}
