{% extends "invitation/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block contents %}
<div role="main" class="container">
  <h2>来社管理</h2>
  <form method="GET" action="{% url 'invitation:index' %}">
    <table class="table">
      <tbody>
        <tr>
          <th scope="col">予定日時</th>
          <td scope="col">
            <div class="form-inline">
              <div class="form-group">
                <input type="text" name="start_schedule_datetime_date" value="{{get.start_schedule_datetime_date}}" class="form-control datepicker"/>&nbsp;&nbsp;&nbsp;
	      </div>
              <div class="form-group">
                <select name="start_schedule_datetime_hour" class="form-control">
                  <option value="">-----</option>
                  {% for i in HOURS %}
                  <option value="{{i}}" {% if get.start_schedule_datetime_hour == i %}selected{% endif %}>{{i}}</option>
                  {% endfor %}
                </select>
                &nbsp;&nbsp;時&nbsp;&nbsp;
              </div>
              <div class="form-group">
                <select name="start_schedule_datetime_minute" class="form-control">
                  <option value="">-----</option>
                  {% for i in MINUTES %}
                  <option value="{{i}}" {% if get.start_schedule_datetime_minute == i %}selected{% endif %}>{{i}}</option>
                  {% endfor %}
                </select>
                &nbsp;&nbsp;分&nbsp;&nbsp;
              </div>
	      &nbsp;&nbsp;〜&nbsp;&nbsp;
              <div class="form-group">
                <input type="text" name="end_schedule_datetime_date" value="{{get.end_schedule_datetime_date}}" class="form-control datepicker"/>&nbsp;&nbsp;&nbsp;
	      </div>
              <div class="form-group">
                <select name="end_schedule_datetime_hour" class="form-control">
                  <option value="">-----</option>
                  {% for i in HOURS %}
                  <option value="{{i}}" {% if get.end_schedule_datetime_hour == i %}selected{% endif %}>{{i}}</option>
                  {% endfor %}
                </select>
                &nbsp;&nbsp;時&nbsp;&nbsp;
              </div>
              <div class="form-group">
                <select name="end_schedule_datetime_minute" class="form-control">
                  <option value="">-----</option>
                  {% for i in MINUTES %}
                  <option value="{{i}}" {% if get.end_schedule_datetime_minute == i %}selected{% endif %}>{{i}}</option>
                  {% endfor %}
                </select>
                &nbsp;&nbsp;分&nbsp;&nbsp;
              </div>
            </div>
	  </td>
	</tr>
        <tr>
          <th scope="col">タイトル</th>
          <td scope="col"><input type="text" name="title" value="{{get.title}}" class="form-control"></td>
        </tr>
        <tr>
          <th scope="col">担当者</th>
          <td scope="col">
	    <select name="staff">
              <option value="">-----</option>
              {% for staff in staffs %}
              <option value="{{staff.user.id}}" {% if get.staff == staff.user.id %}selected{% endif %}>{{staff.user.username}}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="margin-bottom: 10px;">
      <button class="btn btn-sm btn-primary">検索</button>
    </div>
  </form>
  
  <div style="margin-bottom: 10px;" class="float-xl-right">
    <button onClick="location.href='{% url 'invitation:regist' %}'" class="btn btn-sm btn-primary">新規追加</button>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">タイトル</th>
        <th scope="col">来社代表者</th>
        <th scope="col">来社予定時間</th>
        <th scope="col">作成者</th>
        <th scope="col">作成日</th>
      </tr>
    </thead>
    <tbody>
      {% for i in invitation_datas %}
      <tr {% if i.cancel_flag == 1 %}class="bg-light"{% endif %}>
        <td scope="row"><a href="{% url 'invitation:detail' i.id %}">{{i.title}}</a></td>
        <td>{{i.client_set.filter.0}}</td>
        <td>{{i.schedule_datetime}}</td>
        <td>{{i.user.username}}</td>
        <td>{{i.ins_datetime}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item"><a href="?{{query_string}}&page={{ page_obj.previous_page_number }}" aria-label="Previous" class="page-link"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
      {% endif %}
      {% for i in paginator.page_range %}
      <li class="page-item {% if page_obj.number == i %}active{% endif %}" ><a href="?{{query_string}}&page={{i}}" class="page-link">{{ i }}</a></li>
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item"><a href="?{{query_string}}&page={{ page_obj.next_page_number }}" aria-label="Next" class="page-link"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static '/js/invitation-regist.js' %}"></script>
{% endblock %}
