{% extends "invitation/base.html" %}
{% load static %}
{% block css %}
<link href="{% static '/css/sign.css' %}" rel="stylesheet"/>
{% endblock %}
{% block contents %}
<div role="main" class="container">
  <form method="POST" action="{% url 'login' %}" class="form-signin">
    <h3 class="form-signin-heading">ログイン</h3>
    <label for="inputEmail" class="sr-only">ID</label>
    <input id="inputEmail" type="id" placeholder="ID" name="username" class="form-control"/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" type="password" placeholder="Password" name="password" class="form-control"/>
    {% if form.errors %}
    <p class="error">ユーザ名/パスワードが不正です</p>
    {% endif %}
    <button type="submit" class="btn btn-lg btn-primary btn-block">ログイン</button>
      {% csrf_token %}
  </form>
</div>
{% endblock %}

