<html lang="ja">
  <meta charaset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link href="https://entrance.fukazawasoftwaredevelopment.com/static/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://entrance.fukazawasoftwaredevelopment.com/static/css/common.css" rel="stylesheet"/>
  <link href="https://entrance.fukazawasoftwaredevelopment.com/static/css/edit.css" rel="stylesheet"/>
  <body>
    <div role="main" class="container">
      <p>
	{{client_name}} 様 <br/><br/>
	{{title}} の件にて、<br/>
	{{schedule_datetime}} までに弊社にお越しください。<br/><br/>
	エントランスにつきましたら、iPadに以下のQRコードをご提示ください。<br/><br/><br/>
	<img src="{{qrcode}}"/>
      </p>
    </div>
  </body>
</html>
