{% extends "invitation/base.html" %}
{% load static %}
{% block css %}
<link href="{% static '/css/edit.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block contents %}
<div role="main" class="container">
  <h2>来社管理</h2>
  <form method="POST" action="" class="form">
    <h2>来社予定日時</h2>
    <table class="table table-bordered">
      {% comment %}
      <tr>
        <td scope="row" style="width: 30%">ステータス</td>
        <td>来社待ち</td>
      </tr>
      {% endcomment %}
      <tr>
        <td scope="row" style="width: 30%"><p class="require">※予定日時</p></td>
        <td>
	  <div class="form-inline">
	    <div class="form-group">
              <input type="text" name="schedule_datetime_date" value="{{invitation_form.data.schedule_datetime_date}}" class="form-control datepicker"/>&nbsp;&nbsp;&nbsp;
	    </div>
	    <div class="form-group">
	      <select name="schedule_datetime_hour" class="form-control">
		<option value="">-----</option>
		{% for i in HOURS %}
                <option value="{{i}}" {% if invitation_form.data.schedule_datetime_hour == i %}selected{% endif %}>{{i}}</option>
		{% endfor %}
	      </select>
	      &nbsp;&nbsp;時&nbsp;&nbsp;
	    </div>
	    <div class="form-group">
	      <select name="schedule_datetime_minute" class="form-control">
		<option value="">-----</option>
		{% for i in MINUTES %}
                <option value="{{i}}" {% if invitation_form.data.schedule_datetime_minute == i %}selected{% endif %}>{{i}}</option>
		  {% endfor %}
	      </select>
	      &nbsp;&nbsp;分&nbsp;&nbsp;
	    </div>
	  </div>
	  {% if error_messages.schedule_datetime %}<p class="error">{{error_messages.schedule_datetime|escape}}</p>{% endif %}
        </td>
      </tr>
    </table>
    {% comment %}<h2>理由</h2>{% endcomment %}
    <table class="table table-bordered">
      <tr>
        <td scope="row" style="width: 30%"><p class="require">※来社理由</p></td>
        <td>
          <input id="inputTitleJp" type="text" name="title" value="{{invitation_form.data.title}}" placeholder="" class="form-control"/>
	  {% if error_messages.title %}<p class="error">{{error_messages.title|escape}}</p>{% endif %}
        </td>
      </tr>
      {% comment %}
      <tr>
        <td scope="row"><p class="require">※本文</p></td>
        <td>
          <textarea id="inputBodyJp" name="body" class="form-control">{{invitation_form.data.body}}</textarea>
	  {% if error_messages.body %}<p class="error">{{error_messages.body|escape}}</p>{% endif %}
        </td>
      </tr>
      {% endcomment %}
    </table>

    <h2>お客様</h2>
    <div id="clients">
      {% for client_form in client_forms %}
      <table class="table table-bordered">
	<tr>
          <td scope="row" style="width: 30%"><p class="require">※名前</p></td>
          <td>
            <input id="inputName{{forloop.counter0}}" type="text" name="name" value="{{client_form.data.name}}" placeholder="" class="form-control"/>
            {% if error_messages.name %}{% for error in error_messages.name %}{% if forloop.parentloop.counter0 == forloop.counter0 and error%}<p class="error">{{error|escape}}</p>{% endif %}{% endfor %}{% endif %}
          </td>
 	</tr>
	<tr>
          <td scope="row"><p class="require">※メールアドレス</p></td>
          <td>
            <input id="inputMail{{forloop.counter0}}" type="text" name="email" value="{{client_form.data.email}}" placeholder="" class="form-control"/>
            {% if error_messages.email %}{% for error in error_messages.email %}{% if forloop.parentloop.counter0 == forloop.counter0 and error%}<p class="error">{{error|escape}}</p>{% endif %}{% endfor %}{% endif %}
          </td>
	</tr>
	{% if not forloop.first %}
	<tr>
          <td scope="row"></td>
          <td><span class="float-xl-right"><button type="button" class="btn btn-sm btn-danger delete_client_buttons">削除</button></span></td>
	</tr>
	{% endif %}
      </table>
      {% endfor %}
    </div>

    <div>
      <span class="float-xl-right"><button type="button" class="btn btn-sm btn-primary" id="add_client_button">お客様追加</button></span>
      <br/><br/><br/>
    </div>

    {% csrf_token %}
    <div>
    <button onClick="location.href='{% url 'invitation:index' %}'; return false;" class="btn btn-sm btn-warning">一覧に戻る</button>
    <span class="float-xl-right">
      <button type="submit" class="btn btn-sm btn-primary">登録</button>
    </span>
    {% comment %}
    <button type="submit" class="btn btn-sm btn-danger">削除</button>
    <button type="submit" class="btn btn-sm btn-primary">変更</button>
    {% endcomment %}
    <div>
  </form>
</div>
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static '/js/invitation-regist.js' %}"></script>
{% endblock %}
