{% extends "invitation/base.html" %}
{% load static %}
{% block css %}
{% endblock %}
{% block contents %}
<div role="main" class="container">
  <h2>本日の来客予定</h2>
  <div style="margin-bottom: 10px;" class="float-xl-right">
    <button onClick="location.href='{% url 'invitation:index' %}'" class="btn btn-sm btn-primary">来客一覧へ</button>
  </div>
  <br/>
  {% for i in invitation_datas %}
  <h4>{{i.schedule_datetime|date:"G:i:s"}}〜&nbsp;&nbsp;<a href="{% url 'invitation:detail' i.id %}">{{i.title}}</a>&nbsp;(担当者&nbsp;:&nbsp;{{i.user.last_name}}&nbsp;{{i.user.first_name}}) </h4> 
  <table class="table">
    {% for c in i.client_set.filter %}
    <tr>
      <th scope="col" width="200px">お客様{% if c.is_checkin %}&nbsp;&nbsp;<span class="badge badge-pill badge-success">チェックイン済</span>{% endif %}</th>
      <td>{{c}}</td>
    </tr>
   {% endfor %}
  </table><br/><br/>
  {% endfor %}
</div>
{% endblock %}
